<div class="corncontainer">
	<div class="lineLeft"></div>
	<div class="circle-box">
        <!-- <div class="left">
            <div class="img-box preload" data-src="{{PaidPost.assets}}images/half_circle.svg"></div>
        </div>
        <div class="right">
            <div class="img-box preload" data-src="{{PaidPost.assets}}images/half_circle.svg"></div>
        </div> -->
		<svg class="svg-circle" version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="0 0 100 100" xml:space="preserve">
        <circle  class="circle" cx="50" cy="50" r="47"/>
        </svg>
    </div>
	<div class="imgcorn preload" data-src="{{PaidPost.assets}}images/{{corn}}"></div>
    <div class="lineRight"></div>
</div>
<span class="captionText">{{{text}}}</span>
<div class="line"></div>
