<div class="content-container need-init" module-slidermodule>
    <div class="swiper-container">
        <div class="top-btn">
            top
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide1 active">
                <div class="mask"></div>
                <div class="hero-container">
                    <div class="hero-wrapper">
                        <p class='hero-title'>
                            {{{index.head.title}}}
                        </p>
                        <p class='hero-subhead'>
                            {{{index.head.subTitle}}}
                        </p>
                    </div>
                </div>
                <div class="legaltext">{{{index.head.legal}}}</div>
                <div class="indicators indicator1">

                    <div class="arrow preload" data-src="{{PaidPost.assets}}images/arrow.png"></div>
                    <div class="scrolltext">Scroll</div>
                </div>

            </div>
            <div class="swiper-slide swiper-slide2">
                <div class="mask"></div>
                <span class="text">
                    {{{index.head.paragraph}}}
                </span>
                <div class="indicators indicator2 display-d">

                    <div class="arrow preload" data-src="{{PaidPost.assets}}images/arrow.png"></div>
                    <div class="scrolltext">Scroll</div>
                </div>
            </div>





            <div class="swiper-slide swiper-slide3">
                <div class="display-d">
                    <div class="mask"></div>
                    <div class="corntext">
                        {{> text-area-img index.neighborhood}}
                    </div>
                    <div class="thumbnail preload" data-src="{{PaidPost.assets}}images/bg2.jpg"></div>
                </div>

                <div class="bg-m display-m">

                </div>
            </div>

            <div class="swiper-slide  swiper-slide4">
                <div class="display-d">
                    <div class="mask"></div>

                    <div class="thumbnail preload" data-src="{{PaidPost.assets}}images/bg2.jpg"></div>
                    <p class="desc">{{{index.neighborhood.paragraph}}}</p>
                </div>

                <div class="display-m">
                    <div class="mask"></div>
                    <div class="corntext">
                        {{> text-area-img index.neighborhood}}
                    </div>
                </div>
            </div>

            <div class="swiper-slide swiper-slide-m swiper-slide-neighborhood">


                <div class="display-m">
                    <div class="mask"></div>
                    <p class="desc">{{{index.neighborhood.paragraph}}}</p>
                </div>
            </div>

            <div class="swiper-slide swiper-slide5">

            </div>
            <div class="swiper-slide swiper-slide6">
                <div class="mask"></div>
                <span class="text">{{{index.waiter.paragraph}}}</span>
            </div>
            <div class="swiper-slide swiper-slide7">
                <div class="display-d">
                    <div class="mask"></div>
                    <div class="corntext">
                        {{> text-area-img index.knife}}
                    </div>
                    <div class="thumbnail preload" data-src="{{PaidPost.assets}}images/bg4.jpg"></div>
                </div>
                <div class="bg-m display-m">
                </div>
            </div>
            <div class="swiper-slide swiper-slide8">
                <div class="display-d">
                    <div class="mask"></div>
                    <div class="thumbnail preload" data-src="{{PaidPost.assets}}images/bg4.jpg"></div>
                    <p class="desc">{{{index.knife.paragraph}}}</p>
                </div>
                <div class="display-m">
                    <div class="mask"></div>
                    <div class="corntext ">
                        {{> text-area-img index.knife}}
                    </div>
                </div>
            </div>
             <div class="swiper-slide swiper-slide-m swiper-slide-knife">
                <div class="display-m">
                    <div class="mask"></div>
                    <p class="desc">{{{index.knife.paragraph}}}</p>
                </div>
            </div>
            <div class="swiper-slide swiper-slide9">
            </div>
            <div class="swiper-slide swiper-slide10">
                <div class="mask"></div>
                <span class="text">{{{index.plate.paragraph}}}</span>

            </div>
            <div class="swiper-slide swiper-slide11">
                <div class="display-d">
                    <div class="mask"></div>
                    <div class="corntext ">
                        {{> text-area-img index.menu}}
                    </div>
                    <div class="thumbnail preload" data-src="{{PaidPost.assets}}images/bg6.jpg"></div>
                </div>
                 <div class="bg-m display-m">
                </div>
            </div>
            <div class="swiper-slide swiper-slide12">
                <div class="display-d">
                    <div class="mask"></div>
                    <div class="thumbnail preload" data-src="{{PaidPost.assets}}images/bg6.jpg"></div>
                    <p class="desc">{{{index.menu.paragraph-d}}}</p>
                </div>
                <div class="display-m">
                    <div class="mask"></div>
                    <div class="corntext">
                        {{> text-area-img index.menu}}
                    </div>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-m swiper-slide-menu">
                <div class="display-m">
                    <div class="mask"></div>
                    <p class="desc">{{{index.menu.paragraph-m}}}</p>
                </div>
            </div>
            <div class="swiper-slide swiper-slide13">
            </div>
            <div class="swiper-slide swiper-slide14">
                <div class="mask"></div>
                <span class="text">{{{index.meat.paragraph}}}</span>

            </div>
            <div class="swiper-slide swiper-slide15">
            </div>
            <div class="swiper-slide swiper-slide16">
                <div class="mask"></div>
                <span class="text">{{{index.brothers.paragraph}}}</span>

            </div>
            <div class="swiper-slide swiper-slide17">
            </div>
            <div class="swiper-slide swiper-slide18">
                <div class="mask"></div>
                <span class="text">{{{index.market.paragraph}}}</span>

            </div>
            <div class="swiper-slide brand-footer">
                <div class="footer"></div>
                <div class="footer-container">
                    <div class="footer_text">
                        <p class='footer-title'>
                            {{index.footer.title}}
                        </p>
                        <p class='footer-subhead'>
                            {{index.footer.subTitle}}
                        </p>
                        <div class="cta">{{index.footer.cta}}</div>
                    </div>
                    <div class="logo preload" data-src="{{PaidPost.assets}}images/logofooter.png"></div>
                </div>

            </div>




        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

    <ul class="placeholder">
    </ul>
</div>
